SimulationGoF_ifd_bpnet_A12000_B4000_sim-*.err
SimulationGoF_ifd_bpnet_A12000_B4000_sim-*.out
config_gof_ifd_bpnet_A12000_B4000_sim.txt.OLD
config_gof_ifd_bpnet_A12000_B4000_sim.txt
stats_ifd_bpnet_A12000_B4000_sim-plots.eps
stats_ifd_bpnet_A12000_B4000_sim.txt

