*.BAK
variance_by_mean.txt
theta_sim_n1000_sample_*.txt
theta_ifd_sim_n1000_sample_*.txt
theta_polblogs_*.txt
theta_ifd_*polblogs_*.txt
dzA_sim_n1000_sample_*.txt
dzA_ifd_sim_n1000_sample_*.txt
dzA_polblogs_*.txt
dzA_ifd*_polblogs_*.txt
theta_sim_n1000_sample.pdf
theta_ifd_sim_n1000_sample.pdf
dzA_sim_n1000_sample.pdf
dzA_ifd_sim_n1000_sample.pdf
theta_polblogs.pdf
dzA_polblogs.pdf
theta_ifd*_polblogs.pdf
sim_*.pdf
dzA_ifd*_polblogs.pdf
slurm-*.out
.Rhistory
.RData
theta_sim_n2000_cont_sample_*.txt
dzA_sim_n2000_cont_sample_*.txt
theta_sim_n2000_cont_sample.pdf
dzA_sim_n2000_cont_sample.pdf
dzA_ifd_sim_n2000_cont_sample.pdf
theta_ifd_sim_n2000_cont_sample.pdf
dzA_ifd_sim_n2000_cont_sample_*.txt
theta_ifd_sim_n2000_cont_sample_*.txt
sim_sim_n1000_sample_*.net
sim_polblogs_*.net
Rplots.pdf
stats_sim_n2000_sample.txt
stats_sim_n2000_sample-plots.eps
stats_sim_n1000_binattr_sample.txt
simulation_sim_n2000_sample_*.net
simulation_sim_n1000_binattr_sample_*.net
stats_sim_n1000_binattr_sample-plots.eps
stats_sim_n2000_sample_ifd-plots.eps
stats_sim_n2000_sample_ifd.txt
obs_stats_n1000_sample_0.txt
simulation_estimated_sim_n1000_binattr_sample_*.net
stats_estimated_sim_n1000_binattr_sample.txt
stats_estimated_sim_n1000_binattr_sample-plots.eps
sim_sim_n2000_cont_sample_*.net
obs_stats_n2000_cont_sample_0.txt
stats_estimated_sim_n2000_cont_sample.txt
simulation_estimated_sim_n2000_cont_sample_*.net
simulation_estimated_sim_n1000_binattr_sample.pdf
simulation_estimated_sim_n2000_cont_sample.pdf
stats_estimated_sim_n2000_cont_sample-plots.eps
stats_sim_n2000_sample_tnt.txt
stats_sim_n2000_sample_tnt-plots.eps
dzA_tnt_sim_n1000_sample_*.txt
sim_tnt_sim_n1000_sample_*.net
theta_tnt_sim_n1000_sample_*.txt
dzA_tnt_sim_n1000_sample.pdf
theta_tnt_sim_n1000_sample.pdf
sim_ifd_sim_n1000_sample_*.net
obs_stats_ifd_boriseko_polblogs_0.txt
sim_ifd_borisenko_polblogs_*.net
simulation_estimated_polblogs_*.net
simulation_estimated_polblogs.pdf
stats_sim_estimated_polblogs.txt
stats_sim_polblogs.txt
stats_sim_estimated_polblogs-plots.eps
estimation_ifd_sim_n1000_sample.out
obs_stats_ifd_n1000_sample_0.txt
sim_config_estimated_ifd_sim_n1000_sample.txt
stats_estimated_ifd_sim_n1000_sample-plots.eps
stats_estimated_ifd_sim_n1000_sample.txt
gof_estimated_ifd_sim_n1000_sample_*.net
obs_sample_statistics_n1000_directed_binattr_sim620000000.txt
gof_estimated_ifd_sim_n1000_sample.pdf
EstimNetDirected_arrays_contattr_example-*.err
EstimNetDirected_arrays_contattr_example-*.out
EstimNetDirected_hashtables_contattr_example-*.err
EstimNetDirected_hashtables_contattr_example-*.out
EstimNetDirected_notables_contattr_example-*.err
EstimNetDirected_notables_contattr_example-*.out
R_contattr_example_EstimNetDirected_estim_simfit-*.err
R_contattr_example_EstimNetDirected_estim_simfit-*.out
obs_stats_polblogs_0.txt
theta_ifd_allowloops_sim_n1000_sample_*.txt
dzA_ifd_allowloops_sim_n1000_sample_*.txt
sim_ifd_allowloops_sim_n1000_sample_*.net
estimation_ifd_allowloops_sim_n1000_sample.out
obs_stats_ifd_allowloops_n1000_sample_0.txt
theta_ifd_allowloops_sim_n1000_sample.pdf
dzA_ifd_allowloops_sim_n1000_sample.pdf
gof_estimated_ifd_allowloops_sim_n1000_sample_*.net
gof_estimated_ifd_allowloops_sim_n1000_sample.pdf
sim_config_estimated_ifd_allowloops_sim_n1000_sample.txt
stats_estimated_ifd_allowloops_sim_n1000_sample-plots.eps
stats_estimated_ifd_allowloops_sim_n1000_sample.txt
estimation_example_n2000_contattr.txt
