*.BAK
variance_by_mean.txt
theta_sim_n1000_sample_*.txt
theta_ifd_sim_n1000_sample_*.txt
theta_polblogs_*.txt
theta_ifd_*polblogs_*.txt
dzA_sim_n1000_sample_*.txt
dzA_ifd_sim_n1000_sample_*.txt
dzA_polblogs_*.txt
dzA_ifd*_polblogs_*.txt
theta_sim_n1000_sample.pdf
theta_ifd_sim_n1000_sample.pdf
dzA_sim_n1000_sample.pdf
dzA_ifd_sim_n1000_sample.pdf
theta_polblogs.pdf
dzA_polblogs.pdf
theta_ifd*_polblogs.pdf
sim_*.pdf
dzA_ifd*_polblogs.pdf
slurm-*.out
.Rhistory
.RData
theta_sim_n2000_cont_sample_*.txt
dzA_sim_n2000_cont_sample_*.txt
theta_sim_n2000_cont_sample.pdf
dzA_sim_n2000_cont_sample.pdf
dzA_ifd_sim_n2000_cont_sample.pdf
theta_ifd_sim_n2000_cont_sample.pdf
dzA_ifd_sim_n2000_cont_sample_*.txt
theta_ifd_sim_n2000_cont_sample_*.txt
sim_sim_n1000_sample_*.net
sim_polblogs_*.net
Rplots.pdf
stats_sim_n2000_sample.txt
stats_sim_n2000_sample-plots.eps
stats_sim_n1000_binattr_sample.txt
simulation_sim_n2000_sample_*.net
simulation_sim_n1000_binattr_sample_*.net
stats_sim_n1000_binattr_sample-plots.eps
