theta_*.txt
dzA_*.txt
theta_*.pdf
dzA_*.pdf
sim_*.net
obs_stats_*.txt
slurm-*.out
EstimNetDirected_*.out
EstimNetDirected_*.err
.Rhistory
.RData
estimation_ifd_example_n1000_binattr.txt
stats_gof_example_n1000_binattr_ifd-plots.eps
stats_gof_example_n1000_binattr_ifd.txt
SimulateERGM_gof_ifd_example_n1000_binattr-*.err
SimulateERGM_gof_ifd_example_n1000_binattr-*.out
config_gof_example_n1000_binattr_ifd.txt

