theta_*sim_n2000_sample_*.txt
dzA_*sim_n2000_sample_*.txt
subgraph*.txt
subzone*.txt
sampledesc.txt
sim_*sim_n2000_sample_*.net
simulation_sim_cergm_*.net
stats_sim_cergm.txt
dzA_sim_cergm_0.txt
obs_stats_0.txt
sim_sim_cergm_0.net
theta_sim_cergm_0.txt
