theta_*sim_n2000_sample_*.txt
dzA_*sim_n2000_sample_*.txt
sim_*sim_n2000_sample_*.net
simulation_sim_cergm_*.net
stats_sim_cergm.txt
dzA_sim_cergm_0.txt
obs_stats_0.txt
sim_sim_cergm_0.net
theta_sim_cergm_0.txt
simulation_gof_sim_cergm_*.net
dzA_sim_cergm.pdf
estimation_example_cergm.txt
simulation_gof_sim_cergm.pdf
simulation_gof_sim_cergm_cergm.pdf
simulation_gof_sim_cergm_cergm2.pdf
stats_gof_sim_cergm.txt
theta_sim_cergm.pdf
