#!/bin/bash

#SBATCH --job-name="@JOBNAME"
#SBATCH --ntasks=32
#SBATCH --mem-per-cpu=1GB
#SBATCH --time=0-0:20:00

SETTINGS_FILE=@SETTINGS

echo -n "started at: "; date

module load R


time srun @ROOT/src/EstimNetDirected_mpi ${SETTINGS_FILE}


time Rscript @ROOT/scripts/computeEstimNetDirectedCovariance.R theta dzA | tee estimation.out
time Rscript @ROOT/scripts/plotEstimNetDirectedResults.R theta dzA

times
echo -n "ended at: "; date

